<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Aviation Customer Ticket Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='aqi-logo-280x150.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Aviation Customer Ticket Predictor</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App for predicting whether a customer is going to buy Flight tickets, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="Yearly_avg_view_on_travel_page" placeholder="Yearly average views on travel page eg. 200"><br>
                <input class="form-input" type="text" name="total_likes_on_outstation_checkin_given" placeholder="Total likes on outstation checkins given eg. 1000"><br>
                <input class="form-input" type="text" name="yearly_avg_Outstation_checkins" placeholder="Yearly average Outstation checkins eg. 10"><br>
                <input class="form-input" type="text" name="member_in_family" placeholder="Number of family members eg. 3"><br>
                <input class="form-input" type="text" name="preferred_location_type" placeholder="Preferred location type eg. Number between 1 and 13"><br>
                <input class="form-input" type="text" name="Yearly_avg_comment_on_travel_page" placeholder="Yearly average comments on travel page eg. 100"><br>
                <input class="form-input" type="text" name="total_likes_on_outofstation_checkin_received" placeholder=" Total likes on out of station checkins received eg. 2000"><br>
                <input class="form-input" type="text" name="week_since_last_outstation_checkin" placeholder="Number of weeks since last out of station checkin update by Customer eg. 2"><br>
                <input class="form-input" type="text" name="following_company_page" placeholder="Is the customer following company page? (Km/h) eg. 1 - Yes, 0 - No"><br>
                <input class="form-input" type="text" name="montly_avg_comment_on_company_page" placeholder="Monthly average comments on company page (Km/h) eg. 27"><br>
                <input class="form-input" type="text" name="working_flag" placeholder="Is the customer working or not eg. 1 - Working, 0 - Not working"><br>
                <input class="form-input" type="text" name="travelling_network_rating" placeholder="Does user have close friends who also like travelling? 1 - Highest, 4 - Lowest (Km/h) eg. 27"><br>
                <input class="form-input" type="text" name="Adult_flag" placeholder="Is the customer adult or not? eg. 1 - Adult, 0 - Non adult"><br>
                <input class="form-input" type="text" name="Daily_Avg_mins_spend_on_traveling_page" placeholder="Daily average mins spent on travelling page eg. 10"><br>


        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/Dipghosh-tpu/Air-Quality-Prediction-Machine-Learning-Project."><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/sunanda-kumar-ghosh-22617b99/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made by Sunanda Kumar Ghosh.</p>
       </div>

    </body>
</html>

